
/* top-level container */




.social-panel .panel-arrowcontent {
    margin: 0;
    padding: 0;
  border-radius: 0px;
}

.social-panel[type="arrow"] {
    min-height: 100px;
    min-width: 240px;
}

.social-panel .panel-arrow[side="top"] {
  list-style-image: url("chrome://socialapi/skin/pinstripe/panelarrow-up.png");
  margin-bottom: -1px;
}

.social-panel .panel-arrow[side="bottom"] {
  list-style-image: url("chrome://socialapi/skin/pinstripe/panelarrow-down.png");
  margin-top: -1px;
}

.social-panel .panel-arrow[side="left"] {
  list-style-image: url("chrome://socialapi/skin/pinstripe/panelarrow-horiz.png");
  margin-right: -1px;
  -moz-transform: scaleX(-1);
}

.social-panel .panel-arrow[side="right"] {
  list-style-image: url("chrome://socialapi/skin/pinstripe/panelarrow-horiz.png");
  margin-left: -1px;
}
