
/* our toolbaritem */
#social-toolbar {
  /*border: 1px solid green;*/
}

.social-statusarea-container {
  /*-moz-appearance: toolbarbutton;*/
  margin: 2px; /* make sure we have the correct platform spacing*/
  padding: 1px;
}

/* aero look for hover */
#nav-bar .social-statusarea-container[open="true"],
#nav-bar .social-statusarea-container:hover {
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1));
  border-color: hsla(210,54%,20%,.3) hsla(210,54%,20%,.35) hsla(210,54%,20%,.4);
  box-shadow: 0 1px hsla(0,0%,100%,.85) inset,
              0 1px hsla(210,54%,20%,.1),
              0 0 2px hsla(210,54%,20%,.4);
}

/* favicon for the service */
.social-statusarea-service-image {
  width: 20px;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  padding: 2px;
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}
.social-statusarea-service-image:hover {
  opacity:0.3;
}



/* hbox that hold notification icons */
.social-status-content-container {
    margin: 0px;
    padding: 0px;
    /*border: 1px solid red;*/
}

/* hbox that surounds an image and its counter */
.social-notification-icon-container {
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  position: relative;
  margin: -5px 0px 0px;
  padding-top: 5px;
  /*border: 1px solid yellow;*/
}

/* notification counter box */
.social-notification-icon-counter {
  background-color: rgb(240,61,37);
  border: 1px solid rgb(216,55,34);
  box-shadow: 0px 1px 0px rgba(0,39,121,0.77);
  padding-right: 1px;
  padding-left: 1px;
  color: white;
  font-size: 9px;
  font-weight: bold;
  position: absolute;
  right: -3px;
  top: -1px;
  z-index: 1;
  text-align: center;

}

/* notification image */
.social-notification-icon-image {
  padding: 2px;
  margin: 0px;
  min-width: 20px;
  max-width: 32px;
  max-height: 20px;
  /*border: 1px solid black;*/
}
.social-notification-icon-image:hover {
  opacity:0.3;
}
