@-moz-document url-prefix("chrome://browser/content/browser.xul") {

#social-vbox {
  -moz-transition-property: margin-left;
  -moz-transition-delay: 0s;
  -moz-transition-duration: 0.25s;
}

.social-open #social-vbox {
  -moz-transition-delay: 0.25s;
}

#social-cropper {
  -moz-transition-property: height;
  -moz-transition-delay: 0.25s;
  -moz-transition-duration: 0.5s;
}

.social-open #social-cropper {
  -moz-transition-delay: 0s;
}

#social-toolbar-menu {
  padding-bottom:6px;
  padding-right:4px;
  padding-top:4px;
}

.social-recommend-button {
  width: auto;
  height: auto;
  padding: 1px;
}

#social-sidebar-splitter {
  -moz-border-start:none;
  -moz-border-end:1px solid #404040;
  min-width:1px;
  width:1px;
  background-image:none !important;
}

#socialapi-button {
  list-style-image: url("chrome://socialapi/skin/social.png");
}
.social-buttonbar {
  padding: 0px;
  margin: 0px;
  height: 20px;
  /*border: 1px solid red;*/
}
.social-notification-icon-container {
  cursor: pointer;
  height: 20px;
  width: 20px;
  padding: 0px;
  margin: 0px;
  position: relative;
  margin: -5px 0px 0px 2px;
  /*margin-top: -5px;*/
  padding-top: 5px;
  /*border: 1px solid yellow;*/
}
.social-notification-icon-counter {
  background-color: rgb(240,61,37);
  border: 1px solid rgb(216,55,34);
  box-shadow: 0px 1px 0px rgba(0,39,121,0.77);
  padding-right: 1px;
  padding-left: 1px;
  color: white;
  font-size: 9px;
  font-weight: bold;
  position: absolute;
  right: -1px;
  top: -1px;
  z-index: 1;
  text-align: center;

}
.social-notification-icon-image {
  padding: 0px;
  margin: 0px;
  max-width: 32px;
  max-height: 20px;
  /*border: 1px solid black;*/
}
.social-notification-icon-image:hover {
  opacity:0.3;
}
.social-portrait-box {
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 2px;
  height: 20px;
  width: 20px;
}
.social-portrait-image {
  width: 20px;
  height: 20px;
}


.social-statusarea-popup
{
  margin-top:-1px;
}
.social-statusarea-popup-container
{
  width:250px;
  padding-bottom:6px;
  cursor:pointer;
  background-color:white;
}
.social-statusarea-popup-current-user
{
  border-bottom:1px solid rgb(221,221,221);
  background-color:white;
  color:black;
  cursor:default;
  position:relative;
}

.social-statusarea-popup-current-user-portrait
{
  width:32px;
  height:32px;
  border-radius:2px;
  padding:10px;
  display:inline-block;
}
.social-statusarea-popup-current-user-name
{
  position:absolute;
  left:52px;
  top:16px;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:12px;
}
.social-statusarea-popup-current-user-name a
{
  color: rgb(59, 89, 152);
  font-weight:bold;
}

.social-statusarea-popup-menuitem
{
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:12px;
  color: rgb(122, 122, 122);
  line-height:200%;
  background-color:white;
  padding-left:10px;
  padding-right:10px;
  width:230px;
  cursor:default;
}

.social-statusarea-popup-menuitem:hover
{
  background-color:rgb(31,94,239);/*todo:gradient*/
  color:white;

}


} /* @-moz-document url-prefix("chrome://browser/content/browser.xul") */
