@-moz-document url-prefix("chrome://browser/content/browser.xul") {

#social-vbox {
  -moz-transition-property: margin-left;
  -moz-transition-delay: 0s;
  -moz-transition-duration: 0.25s;
}

.social-open #social-vbox {
  -moz-transition-delay: 0.25s;
}

#social-cropper {
  -moz-transition-property: height;
  -moz-transition-delay: 0.25s;
  -moz-transition-duration: 0.5s;
}

.social-open #social-cropper {
  -moz-transition-delay: 0s;
}

#social-toolbar-menu {
  padding-bottom:6px;
  padding-right:4px;
  padding-top:4px;
}

.social-recommend-button {
  width: auto;
  height: auto;
  padding: 1px;
}

#social-sidebar-splitter {
  -moz-border-start:none;
  -moz-border-end:1px solid #404040;
  min-width:1px;
  width:1px;
  background-image:none !important;
}

#socialapi-button {
  list-style-image: url("chrome://socialapi/skin/social.png");
}

.social-notification-icon-container {
  cursor: pointer;
  height: 27px;
  width: 24px;
  position: relative;
  margin-top: -5px;
}
.social-notification-icon-counter {
  background-color: rgb(240,61,37);
  border: 1px solid rgb(216,55,34);
  box-shadow: 0px 1px 0px rgba(0,39,121,0.77);
  padding-right: 1px;
  padding-left: 1px;
  color: white;
  font-size: 9px;
  font-weight: bold;
  position: absolute;
  right: -3px;
  top: -1px;
  z-index: 1;
  text-align: center;
  
}
.social-notification-icon-image {
  width: 24px;
  height: 31px;
}
.social-notification-icon-background-highlight {
  opacity:0;
  width:100%;
  height:100%;
  background-color:white;
}
.social-portrait-box {
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 2px;
  height: 20px;
  width: 20px;
}
.social-portrait-image {
  width: 20px;
  height: 20px;
}
.social-notification-icon-background-highlight:hover {
  opacity:0.3;
}

} /* @-moz-document url-prefix("chrome://browser/content/browser.xul") */
