
/* popups that hang off our toolbaritem */
.social-statusarea-popup {
  /*margin-top: 4px;*/
  -moz-margin-start: 3px;
}


.social-statusarea-popup
{
  margin-top:-1px;
}
.social-statusarea-popup-container
{
  width:250px;
  padding-bottom:6px;
  cursor:pointer;
  background-color:white;
}
.social-statusarea-popup-current-user
{
  border-bottom:1px solid rgb(221,221,221);
  background-color:white;
  color:black;
  cursor:default;
  position:relative;
}

.social-statusarea-popup-current-user-portrait
{
  width:32px;
  height:32px;
  border-radius:2px;
  margin:10px;
}
.social-statusarea-popup-current-user-name
{
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:12px;
}
.social-statusarea-popup-current-user-name button
{
  color: rgb(59, 89, 152);
  font-weight:bold;
  -moz-appearance: none;
}
.social-statusarea-popup-current-user-name button:hover
{
  text-decoration:underline;
}

.social-statusarea-popup-menuitem
{
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:12px;
  color: rgb(122, 122, 122);
  line-height:200%;
  background-color:white;
  padding-left:10px;
  padding-right:10px;
  width:230px;
  cursor:default;
}

.social-statusarea-popup-menuitem:hover
{
  background-color:rgb(31,94,239);/*todo:gradient*/
  color:white;
}


.social-statusarea-popup-menuitem-arrow
{
  background-image:url("chrome://socialapi/skin/arrow-right.png");
  background-repeat:no-repeat;
  background-position:right 12px center;
}


.social-statusarea-popup-menuitem-arrow:hover
{
  background-image:url("chrome://socialapi/skin/arrow-right-white.png");
}

.social-statusarea-provider-list {
  position:relative;
}

.social-statusarea-provider-list img {
  position:absolute;
  left:20px;
  top:4px;
  width:16px;
  height:16px;
  display:inline-block;
}

.social-statusarea-provider-list-label
{
  position:relative;
  left:32px;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:12px;
}

.social-statusarea-provider-selected {
  background-image:url("chrome://socialapi/skin/check.png");
  background-repeat:no-repeat;
  background-position:left 4px center;
}
